@use "../pxtorem.scss" as *;
@use "./variables.scss" as *;

body {
  font-family: $font-family;
  color: $white;
}

h2,
h3 {
  font-weight: 400;
  text-transform: capitalize;
}

.container {
  padding: 0 128px;
}

.colored {
  color: $brand-1;
}

.active {
  color: $brand-1;
}

.mouse-icon {
  width: 32px;
  height: 44px;
  color: $brand-1;
  margin: 0 auto;
}

.vertikal-line {
  width: 12px;
  height: 87px;
  color: $white;
  margin: 0 auto;
  margin-top: 16px;
}

.horizontal-line {
  margin: 0 auto;
  margin-top: 16px;
  width: 100%;
  height: 12px;
  color: $brand-1;
}

.title-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.html-bg {
  background: $html;
}
.html {
  color: $html;
}

.css-bg {
  background: $css;
}
.css {
  color: $css;
}

.js-bg {
  background: $js;
}
.js {
  color: $js;
}

.react-bg {
  background: $react;
}
.react {
  color: $react;
}

.scss-bg {
  background: $scss;
}
.scss {
  color: $scss;
}

.figma-bg {
  background: $figma;
}
.figma {
  color: $figma;
}

.netlify-bg {
  background: $netlify;
}
.netlify {
  color: $netlify;
}

.git-bg {
  background: $git;
}
.git {
  color: $git;
}

.github-bg {
  background: $github;
}
.github {
  color: $github;
}
