$bg-1: #292f36;
$bg-2: #1a1e23;
$brand-1: #12f7d6;
$brand-2: #98faec;
$grey: #43454d;
$white: #fff;
$black: #000;
$html: #e54f26;
$css: #0c73b8;
$js: #e7a020;
$react: #28a9e0;

$font-family: "Ubuntu", sans-serif;
$second-family: "IBM Plex Mono", sans-serif;