@use "../base/variables.scss" as *;

.about {
  background: $bg-2;
  padding: 128px 0;
  &__wrapper {
    display: flex;
    margin-top: 128px;
    align-items: center;
    gap: 128px;
    padding-left: 64px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    width: fit-content;
    border: 4px solid $brand-1;
    border-radius: 40px 0;
    padding: 16px 40px;
    background: $bg-1;

    font-size: 64px;
    line-height: 113%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 64px;
    border-radius: 40px;
    padding: 24px 40px;
    width: 880px;
    background: $bg-1;
    font-family: $second-family;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
    }
  }

  &__greetings {
    font-weight: 500;
    font-size: 32px;
    line-height: 131%;
    color: $brand-1;
  }
}

// Media 1280px
@media (max-width: 1280px) {
  .about {
    &__wrapper-info {
      padding: 0 40px;
    }

    &__text {
      width: 100%;
    }
  }
}

// Media 1024px
@media (max-width: 1024px) {
  .about {
    padding: 64px 0;

    &__wrapper {
      padding-left: 0;
      margin: 0;
      gap: 64px;
    }

    &__wrapper-info {
      padding: 0;
    }
  }
}

// Media 768px
@media (max-width: 768px) {
  .about {
    img {
      padding: 0 35px;
    }
  }
}

// Media 576px
@media (max-width: 576px) {
  .about {
    &__wrapper-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      margin-top: 32px;
      padding: 24px;
    }

    &__title {
      font-size: 34px;
    }
  }
}

// Media 390px
@media (max-width: 390px) {
  .about {
    &__title {
      padding: 16px 25px;
    }
  }
}
