@use "../base/variables.scss" as *;

.footer {
  background: $bg-2;
  padding: 16px 0;
  border-top: 1px solid $grey;

  .container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  &__copyright {
    font-weight: 300;
    font-size: 16px;
    line-height: 113%;
  }

  &__social {
    display: flex;
    gap: 32px;
    align-items: center;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 48px;
      width: 32px;
      height: 32px;
      background: $brand-2;
    }

    &-img {
      width: 24px;
      color: $bg-1;
    }
  }

  &__location {
    text-align: right;
    font-weight: 300;
    font-size: 16px;
    line-height: 113%;
    font-style: normal;
  }
}
